@font-face {
  font-family: walsheim;
  src: url("../fonts/GT-Walsheim-Pro-Medium.ttf"); }

@font-face {
  font-family: circular;
  src: url("../fonts/circular-book.otf"); }

html,
body {
  margin: 0;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden; }

.container {
  padding-right: 60px; }

canvas {
  height: 100% !important;
  width: 100% !important; }

.button {
  padding: 12px 25px;
  margin: 0 7px;
  font-size: 14px;
  font-weight: 400; }

.loading {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: hidden;
  background-color: #fff;
  text-align: center; }

.side-menu {
  width: 60px;
  height: 100%;
  position: fixed;
  z-index: 1009;
  background-color: white;
  right: 0;
  padding: 23px 0;
  transition: all .15s;
  box-shadow: -5px 0px 25px -1px rgba(9, 46, 74, 0.1); }
  .side-menu:hover, .side-menu:active, .side-menu:focus {
    transition: all .15s;
    background-color: white;
    cursor: pointer; }
    .side-menu:hover h1, .side-menu:active h1, .side-menu:focus h1 {
      color: #061927; }
  .side-menu .animated-bars {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 15px; }
    .side-menu .animated-bars:hover, .side-menu .animated-bars:active, .side-menu .animated-bars:focus {
      cursor: pointer; }
    .side-menu .animated-bars div {
      width: 19px;
      height: 3px;
      background-color: #061927;
      margin: 4px auto;
      transition: all .3s;
      pointer-events: none; }
    .side-menu .animated-bars div:first-child {
      width: 7px;
      margin: 0;
      transition: all .3s; }
    .side-menu .animated-bars div:nth-child(2) {
      width: 12px;
      margin-left: 0;
      transition: all .3s; }
  .side-menu h1 {
    color: #061927;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0; }
  .side-menu .thentia-menu {
    display: none; }

.full-screen-menu {
  width: 100%;
  background-color: #fff !important; }
  .full-screen-menu:hover, .full-screen-menu:active, .full-screen-menu:focus {
    cursor: default; }
  .full-screen-menu h1 {
    display: none; }
  .full-screen-menu .thentia-menu {
    display: block; }

.thentia-menu ul {
  list-style-type: none; }
  .thentia-menu ul li {
    color: #333; }

.cross:first-child {
  transform: rotate(45deg);
  margin-top: 7px !important;
  width: 19px !important; }

.cross:nth-child(2) {
  opacity: 0;
  width: 19px; }

.cross:last-child {
  transform: rotate(-45deg);
  margin-top: -14px !important; }

.after-animated {
  display: inline-block;
  position: absolute;
  right: 20px; }
  .after-animated div {
    width: 19px;
    height: 3px;
    background-color: #061927;
    margin: 4px auto;
    transition: all .3s; }
  .after-animated div:first-child {
    width: 19px;
    margin: 0;
    transition: all .3s; }
  .after-animated div:nth-child(2) {
    width: 19px;
    margin-left: 0;
    transition: all .3s; }

.main-menu {
  position: absolute;
  width: 100%;
  z-index: 1001;
  padding: 55px 0;
  color: #fff; }
  .main-menu ul {
    list-style-type: none;
    margin: 0;
    padding-top: 15px; }
    .main-menu ul a {
      margin: 0 10px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500; }
      .main-menu ul a:hover, .main-menu ul a:active, .main-menu ul a:focus {
        text-decoration: none; }
    .main-menu ul li {
      display: inline-block;
      font-size: 13px; }

.main-title {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-right: 60px; }
  .main-title #particles {
    background-color: #060606;
    background-image: url("../images/asfalt-light-lighter.png"), linear-gradient(to bottom, #060606, #082335);
    height: 100%; }
    .main-title #particles .main-title-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .main-title #particles .main-title-text h1 {
        color: #fff;
        font-family: "circular",sans-serif;
        font-weight: 400;
        font-size: 57px;
        margin-top: 0px;
        pointer-events: none;
        margin-bottom: 50px;
        display: block; }
      .main-title #particles .main-title-text p {
        font-family: "roboto",sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.65);
        max-width: 500px;
        margin: 0 auto; }
      .main-title #particles .main-title-text .btn-brand {
        background-color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.38);
        color: #061927;
        border-radius: 3px;
        display: inline-block; }
        .main-title #particles .main-title-text .btn-brand:hover, .main-title #particles .main-title-text .btn-brand:active, .main-title #particles .main-title-text .btn-brand:focus {
          text-decoration: none;
          cursor: pointer; }
      .main-title #particles .main-title-text .btn-light {
        border: 1px solid rgba(255, 255, 255, 0.38);
        color: #fff;
        border-radius: 3px;
        display: inline-block; }
        .main-title #particles .main-title-text .btn-light:hover, .main-title #particles .main-title-text .btn-light:active, .main-title #particles .main-title-text .btn-light:focus {
          text-decoration: none;
          cursor: pointer; }

.second {
  background: linear-gradient(to right, #4cb79c, #006ea2);
  color: #fff;
  padding: 150px 0; }
  .second h1 {
    font-family: "mr-eaves-modern",sans-serif;
    font-size: 40px; }
  .second p {
    font-size: 16px;
    font-weight: 300; }

.third {
  background-color: #fff;
  padding: 50px 0; }
  .third .wbox {
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 50px;
    margin-top: -100px;
    border-radius: 3px; }

.footer {
  padding: 50px 0;
  background-color: #f2f2f2; }
